html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom, whitesmoke , grey, whitesmoke);;
    font-family: Cambria;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    color:#393e46;
}

p {
    text-align: center;
}

table {
    margin: 0 auto;
}

thead {
    background-image: linear-gradient(to bottom, #f8b500, #f8b500, #dfa402);
    text-align: center;
    font-weight: bold;
    font-size: larger;
    height: 50px;
}

tbody {
    background-color: #c1c6ce;
}

.rules-column {
    font-weight: bold;
    padding: 0.5rem;
}

.description-column {
    font-style: italic;
    padding: 0.5rem;
}

.example-column {
    background-color: #393e46;
    color:whitesmoke;
    font-family: monospace;
    padding: 0.5rem;
}
